<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users</title>
</head>
<body>
  <h1>The Users page</h1>

  <h2>Today was <%= name %>'s birthday. <%= name %> was really excited. They decided they wanted to go play <%= verb %> with <%= friend %>. And for dinner, they are going to eat <%= food %>.</h2>
</body>
</html>
